*{padding: 0; margin:0; box-sizing: border-box; font-family: sans-serif;}
header{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba);
    background-image: url(./shadi.jpg);
    background-size:cover;
    position: relative;
}
.info{
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.info span{
    margin: 0 10px;
}
 nav{
    width: 100%;
    height: 70px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 2em;
    font-family: normal;
    letter-spacing: 2px;
}
.logo i{
    color:#e84393;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: 1.8s;
}
.menu a:last-child{
    background: #e84393;
    border-radius: 8px;
}
.menu a:hover{
    background: #e84393;
    border-radius: 8px;
}
.box{
    background:burlywood;
    width: 450px;
    height: 500px;
    position: absolute;
    top:25%;
    right:5%;
    padding: 30px;

}
form{
    width:100%;
}
form input[type="text"]{
    width:100%;
    padding:20px 10px;
    margin:10px 0;
    outline:none;
    background: rgb(red, green, blue);
}
form input[type="submit"]
{
    width:100%;
    padding:20px 10px;
    margin:10px 0;
    outline:none;
    background: #e84393;
    color: aliceblue;
    cursor: pointer;
   transition: 1.8s;
}
form input[type="submit"]:hover{
    background: transparent;
    border:1px solid black;
    color:black;
}
.box span{
    color: #e84393;
    cursor: pointer;
}
.htext{
    position: absolute;
    top: 30%;
    left: 4%;
    max-width: 600px;
    color: white;
}
.htext h1{
    font-size: 2em;
}
.htext h2{
    font-size: 4em;
}
.htext span{
    color:#e84393
}
.htext p{
    margin: 15px 0px;
    line-height: 2em;
    text-transform: capitalize;
    color: black;
}
.htext a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid bisque;
    border-radius: 8px;
    transition: 1.5s;
}
.htext a:hover{
    background-color: #e84393;
}
/* marquee h3{
    background-color: orange;
} */
.scroll{
    background: orange;
    position: relative;
    scroll-behavior: unset;
    scroll amount
    
}
